/*设置sidebar*/
.side-bar{
    position: fixed;
    left: 50%;
    top: 150px;
    margin-left: 488px;
    z-index: 9999;
}
.side-bar div{
    height: 20px;
    line-height: 20px;
    padding-left: 30px;
    font-size: 14px;
}
.side-bar div.dot{
    cursor:pointer;
}
.side-bar div a{
    color: #858585;
}
.dot{
    background-image: url("../../images/dot.png");
    background-position: left center;
    background-repeat: no-repeat;
}
.side-bar .active{
    background-image: url("../../images/dot_solid.png");
}
.side-bar .active a{
    color: #f36f21;
}
.side-bar .vertical{
    height: 24px;
    background-image: url("../../images/vertical.png");
    background-position: 5px 0;
    background-repeat: no-repeat;
}
/*自定义滚动条*/
.scroll-bar{
    width: 16px;
    top: 0;
    right: 0;
    z-index: 2999;
    background: #eeeeee;
}
.bar{
    width: 16px;
    height: 160px;
    background: #CCCCFF;
    left: 0;
    top: 0;
}

/*设置内容区上半部分，功能描述*/
.detail-box{
    height: 380px;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: -280px;
}
.detail{
    width: 420px;
    height: 380px;
    padding-left: 20px;
    padding-right: 140px;
}
.detail h2{
    color: #ff6b59;
    padding-top: 80px;
    padding-bottom: 56px;
    font-size: 30px;
}
.detail p{
    line-height: 32px;
    color: #858585;
    font-size: 16px;
}
/*设置内容区下半部分，枚举特点*/
.feature-box{
    height: 180px;
    left: 50%;
    top: 50%;
    margin-left: -600px;
    margin-top: 102px;
}
.feature{
    height: 180px;
    padding-left: 20px;
}
.feature li{
    width:500px;
    height: 46px;
    padding-top: 36px;
    padding-bottom: 8px;
    padding-left: 74px;
}
.feature li h3{
    color: #ff4630;
    font-size: 16px;
    padding-bottom: 12px;
}
.feature li p{
    font-size: 14px;
    color: #6b6b6b;
}
.line-dashed{
    width: 100%;
    height: 2px;
    left: 0;
    top: 50%;
    margin-top: 100px;
    background: url("../../images/line_dashed.png") repeat-x;
}

.B2B{
    background: url("../../images/B2B.png") no-repeat 580px 0;
}
.B2C{
    background: url("../../images/B2C.png") no-repeat 0 -40px;
}
.batchPay{
    background: url("../../images/batchPay.png") no-repeat 620px 0;
}
.batchCollection{
    background: url("../../images/batchCollection.png") no-repeat 50px 0;
}
.quickPay{
    background: url("../../images/quickPay.png") no-repeat 660px 20px;
}
.mobilePay{
    background: url("../../images/mobilePay.png") no-repeat 20px 10px;
}
.POS{
    background: url("../../images/POS.png") no-repeat 680px -8px;
}

.footer{
    height: 300px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    background: #3a3a3a;
}
.footer ul{
    padding-top: 32px;
    padding-bottom: 21px;
    width: 430px;
}
.footer a{
    color: #ffffff;
}
.footer ul li{
    padding-left: 18px;
    padding-right: 18px;
}
.footer ul li.border-r{
    border-right: 2px solid #fff;
}